android.support.v4/bin/
android.support.v4/gen/
android.support.v7.appcompat/bin/
android.support.v7.appcompat/gen/
android.support.v7.cardview/bin/
android.support.v7.cardview/gen/
android.support.v7.gridlayout/bin/
android.support.v7.gridlayout/gen/
android.support.v7.mediarouter/bin/
android.support.v7.mediarouter/gen/
android.support.v7.palette/bin/
android.support.v7.palette/gen/
android.support.v7.recyclerview/bin/
android.support.v7.recyclerview/gen/
android.support.v7.vectordrawable/bin/
android.support.v7.vectordrawable/gen/
android.support.v1.animation/bin/
android.support.v4.glowpadview/bin/
android.support.v4.fragmentbreadcrumbs/bin/
android.support.v8.renderscript/bin/
android.support.v8.renderscript/gen/
android.support.v7.design/bin/
android.support.v7.design/gen/
